@use '../function/mixin' as *;

$blue: #1a32b4;
$baseSize: 10;
$lightBlue: #00bfc2;
$black: #222222;
$white: #ffffff;
// $fonts: "Noto Sans KR", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
$header: 60px;
$sideGap: 20px;
$orange: #f57921;
$black: #14100d;

%container {
  width: 100%;
  max-width: 1518px;
  margin: 0 auto;
  padding: 0 vw(16);
}
