@use '../function/variable';
@use '../function/mixin' as *;

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: vw(110);
    margin: 0 auto;
    padding: 0 vw(40);
  }
  &__logo {
    width: vw(160);
    height: vw(40);
    background: url(../img/logo_nexus.webp) 50% 50% / 100% auto no-repeat;
  }
  &__gnb {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .gnb {
    &__list {
      display: flex;
      align-items: center;
    }
    &__item {
      margin-left: vw(20);
    }
    &__link {
      font-size: vw(18);
      font-weight: 500;
      color: #fff;
    }
  }
}

.container {
  @extend %container;
}
